body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #394a6d, #3c9d9b, #52de97, #c0ffb3, #fda77f)
}

.container{
    margin: 2rem;
    border: 2px white;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.item{
    background-color: #394a6d;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(to right, #394a6d, #58508d, #bc5090, #ff6361)
}

.item5{
    /*grid-column: span 3;
    grid-row: span 4;*/
    grid-row: 1/-1;
    grid-column: span 2;
}